body{
	background-image: url("lev.jpg");
	background-size: 85%;
}


p{
	color: red;
	background-color: brown;
	font-family: arial;
}
h2{
	color: green;
}

.special
{
	background-color: pink;
}
div
{
	border: 2px red solid;
	border border-radius: 35px;
	width:400px ;
	height: 350px;
}